.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns:
    minmax(50px, 1fr) minmax(225px, 300px) minmax(500px, 800px) minmax(
      225px,
      300px
    )
    minmax(50px, 1fr);
  grid-template-rows: 100px 1fr 100px;
}

.menu-mobile {
  display: none;
}
.wrap {
  display: none;
}

.red {
  grid-area: 1 / 1 / 4 / 4;
  background: #db1d40;
}

.black {
  grid-area: 1 / 4 / 4 / 6;
  background: #232323;
}

.menu {
  grid-area: 2 / 2 / 3 / 3;
  position: relative;
  background: #7e2236;
  padding: 30px 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main {
  position: relative;
  grid-area: 2 / 3 / 3 / 4;
  background: #232323;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 30px 40px;
  scrollbar-color: #c9c9c9 #303030;
  scrollbar-width: thin;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px #00000033;
  }
  &::-webkit-scrollbar {
    width: 3px;
    background-color: #303030;
  }
  &::-webkit-scrollbar-thumb {
    background: #c9c9c9;
  }
}

.cue {
  grid-area: 2 / 4 / 3 / 5;
  background: #db1d40;
  overflow: hidden;
  padding: 30px 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.work {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  img {
    height: 80px;
  }
  h3 {
    color: silver;
    font-size: 14px;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: minmax(225px, 350px) minmax(400px, auto);
    grid-template-rows: 1fr 100px;
  }
  .red {
    display: none;
  }
  .black {
    grid-area: 2 / 1 / 3 / 2;
  }
  .menu {
    grid-area: 1 / 1 / 2 / 2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .main {
    grid-area: 1 / 2 / 2 / -1;
  }

  .cue {
    grid-area: 2 / 2 / 3 / -1;
    padding: 0;
    background: #7e2236;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media only screen and (max-width: 625px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 100px;
  }
  .menu {
    position: absolute;
    z-index: 10000;
    height: 100%;
    left: -250px;
    transition: all 0.5s;
  }
  .open {
    left: 0;
  }

  .wrap-open {
    display: unset;
  }

  .wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background: rgba(black, .4);
  }

  .main {
    grid-area: 2 / 1 / 3 / -1;
  }

  .cue {
    grid-area: 3 / 1 / 4 / -1;
  }

  .menu-mobile {
    position: relative;
    display: flex;
    grid-area: 1 / 1 / 2 / -1;
    background: #7e2236;
    .icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
