.loved{
  margin-top: 20px;
  &__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  &__info{
    font-size: 16px;
    margin: 0 20px;
    .title{
      display: block;
    }
     .artist{
      color: silver;
    }
  }

  &__item{
    display: flex;
    align-items: center;
    margin: 15px 10px;
    width: calc(100%/2 - 20px);
    
    .image{
      height: 80px;
      transition: all .3s;      
      border: 1px solid rgb(14, 14, 14);
      background: rgb(223, 223, 223);
      padding: 3px;
      &:hover{
      cursor: pointer;
      transform: translateY(-3px);
    }
      // border-radius: 50%;
    }
  }
}