.header{
  display: flex;
  align-items: center;
  &__label{
    text-transform: uppercase;
    color: #F0E6E8;    
    font-weight: 400;
    padding: 2.5px 0;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.genres{
  margin: 30px -8px;
  &__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &__item{
      font-size: 15px;
      font-weight: 700;      
      text-transform: capitalize;
      color: #686868;
      margin: 0 10px;
      transition: all .2s;
      &:hover{
        color: white;
      }
    }

    &__link{
      cursor: pointer;
    }
  }
}

.active{
  color: #DB1D40;
  font-weight: 700;
  &:hover{
    color: #DB1D40;
  }
}