.logo{
  display: flex;
  align-items: center;
  &__label{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: .2rem;
  }

  &__img{
    height: 40px;
    margin-right: 1.5rem;
  }
}

.nav{
  margin: 5rem 0;

  &__label{
    margin: 1rem 0;
    font-size: 1.6rem;
  }

  &__list{
    &__item{
      padding-left: 1.3rem;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      margin: 2rem 0;
      color: #F0E6E8;
      cursor: pointer;
      &:hover{
        color: white;
      }
    }

    &__link{
      text-decoration: none;
      color: inherit;
    }
  }
}




.fa{
  font-size: 1rem !important;
  margin-right:.8rem;
  &__big{
    color: #F0E6E8;        
    margin-left: 1rem;
    font-size: 1.7rem !important;
  }
}

.router-link-exact-active{
  padding-left: .9rem;
  color: white;
  border-left: 4px solid #DB1D40;
}
.premium{
  color: #FDAB00;
}

.watermark{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  img{
    margin: 0 1rem;
    height: 50px;
  }
  &__label{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d8bfd8;
  }
  &__icon{
    font-size: 2rem !important;
    margin-left:1rem;
  }
}
