.mobile-logo {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 40px;
  }
}

.mobile-watermark {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    font-size: 25px;
    color: white;
  }
}

.mobile-list {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  list-style: none;
  display: flex;
  flex-direction: column;
}
.mobile-list-item {
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    font-size: 25px;
  }
}

.active-menu-mobile {
  .icon {
    color: #db1d40;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
  }

  &__img {
    height: 40px;
    margin-right: 15px;
  }
}

.nav {
  margin: 50px 0;

  &__label {
    margin: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__list {
    &__item {
      padding-left: 13px;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 600;
      margin: 20px 0;
      color: #f0e6e8;
      cursor: pointer;
      &:hover {
        color: white;
      }

      .icon {
        font-size: 16px;
      }
      .star {
        color: orange;
      }
    }

    &__link {
      text-decoration: none;
      color: inherit;
      margin-left: 10px;
    }
  }
}

.active-menu {
  padding-left: 9px;
  color: white;
  border-left: 4px solid #db1d40;
}

.watermark {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  img {
    margin: 0 10px;
    height: 50px;
  }
  &__label {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dddddd;
  }

  .icon {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .mobile-list {
    flex-direction: row;
    justify-content: center;
  }
  .mobile-watermark {
    display: none;
  }
}
