.search{
  width: 100%;
  height: 100%;
  position: relative;
  animation-duration: .5s;
}
.search__form {
  width: min-content;
  color: white;
  background-color: rgb(65, 65, 65);
  border-radius: 100px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding-left: 30px;
  transition: all .3s; 


  &__field {
    background: none;
    border: none;
    padding: 8px 0;
    font-family: inherit;
    color: inherit;
    font-size: 17px;
    width: 300px; 
    transition: all .3s;

     &:focus-within{
      width: 400px;
      }

    &:focus{
      outline: none;
    }
    &::placeholder{
      color: rgb(187, 187, 187);
      font-size: 15px;
    }
  }
}
.res__header{
  margin:50px 0;
  margin-bottom: 20px;
  &__label{
    font-size:18px;
  }
}

.search__results{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  .res{
    align-items: center;
    margin: 15px 10px;
    width: calc(100%/3 - 20px);
    display: flex;

    &__info{
      margin: 0 20px;
      font-size: 14px;
      .title{
        display: block;
      }
      .artist{
        color: silver;        
      }
    }
  }
}

.placeholder {
    transition: all .5s;
    width: 56px;
    height: 54px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(
		to bottom,
		rgba(#162229, .75),
		rgba(#DB1D40, .75),
		rgba(#6f868c, .75),
		rgba(#7E2236, .75)
  );
  
  .image{
    backface-visibility: hidden;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 2px solid rgb(194, 194, 194);
    transition: all .5s;
    &:hover{
      cursor: pointer;
      transform: translateY(-2px);
    }
  }

  .image__feed{
    width: 65px;
    height: 65px;
  }
}

.placeholder__feed{
  width: 65px;
  height: 63px;
}